        * {
            box-sizing: border-box;
        }
        
        body {
            margin: 0px;
            padding: 0px;
            font-family: 'Raleway', sans-serif;
        }
        
        header {
            text-align: center;
            background-color: rgb(30, 144, 255);
            width: 100%;
            height: 50%;
            margin: 0px;
        }
        
        header ul {
            text-align: center;
            margin-top: 0px;
            padding: 0px;
        }
        
        header li {
            color: yellow;
            display: inline-block;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 3px;
            text-decoration: underline;
        }
        
        a:visited {
            color: yellow;
        }
        
        a:link {
            color: yellow;
        }
        
        aside {
            background-image: url(images/a.jpg);
            background-size: cover;
            width: 100%;
            height: 40%;
            margin: auto;
            margin-top: 0px;
        }
        
        aside h3 {
            text-align: left;
            padding-left: 10px;
            padding-top: 20px;
            color: white;
            font-family: 'Festive', cursive;
        }
        
        aside h2 {
            text-align: center;
            padding-top: 20px;
            height: 200px;
            color: white;
            font-family: 'Festive', cursive;
        }
        
        aside p {
            margin: auto;
            padding-right: 20px;
            padding-left: 20px;
            padding-bottom: 20px;
            color: white;
        }
        
        .first {
            width: 100%;
        }
        
        .meniu {
            text-align: center;
            font-family: 'Festive', cursive;
            text-shadow: 5px 5px 0 yellow;
        }
        
        .line {
            width: 60%;
            margin: auto;
            margin-bottom: 50px;
        }
        
        section {
            width: 80%;
            margin: auto;
            margin-bottom: 100px;
        }
        
        .first article {
            background-color: rgb(30, 144, 255);
            border-radius: 25px;
        }
        
        .first img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 10px solid yellow;
            margin-top: 20px;
            margin-left: 70px;
        }
        
        .category {
            margin: auto;
            text-align: center;
            height: 50px;
            font-family: 'Festive', cursive;
            color: black;
            text-shadow: 5px 5px 0 yellow;
        }
        
        .title {
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            position: sticky;
            text-align: right;
            height: 50px;
            top: 0;
            font-family: 'Festive', cursive;
            color: black;
            background-color: yellow;
            margin: 0;
        }
        
        p {
            margin: 10px;
        }
        
        .second {
            width: 100%;
        }
        
        .about {
            text-align: center;
            font-family: 'Festive', cursive;
            text-shadow: 5px 5px 0 yellow;
        }
        
        .location {
            width: 80%;
            margin: auto;
        }
        
        .location h2 {
            background-color: rgb(30, 144, 255);
            font-family: 'Festive', cursive;
            position: sticky;
            border-radius: 25px;
            top: 0px;
        }
        
        .places h2 {
            margin-left: 90px;
            background-color: yellow;
            text-align: center;
            padding-left: 20px;
            border: 2px solid rgb(30, 144, 255);
        }
        
        .second img {
            width: 98%;
            height: 200px;
            margin-bottom: 15px;
        }
        
        footer p {
            text-align: center;
        }
        
        .back {
            padding-left: 120px;
            padding-bottom: 30px;
        }
        
        @media(min-width:724px) {
            aside {
                width: 80%;
                background-position: center;
            }
            header li {
                padding-left: 70px;
            }
            .first img {
                margin-left: 250px;
            }
            .second img {
                height: 300px;
            }
            .back {
                padding-left: 350px;
            }
            aside h2 {
                margin-bottom: 50px;
            }
            aside h3 {
                padding-left: 30px;
            }
            aside p {
                margin: auto;
                padding-left: 150px;
                padding-right: 150px;
            }
            .space {
                margin-top: 50px;
            }
        }
        
        @media(min-width:1024px) {
            aside {
                width: 70%;
                background-position: center;
            }
            header li {
                padding-left: 90px;
                padding-right: 40px;
            }
            aside h3 {
                padding-left: 200px;
            }
            aside p {
                padding-left: 400px;
                padding-right: 300px;
            }
            .space {
                margin-top: 150px;
            }
            .first img {
                margin-left: 85px;
            }
            .type {
                margin-top: 50px;
                margin-left: 55px;
                width: 40%;
                display: inline-block;
            }
            .second img {
                margin-left: 85px;
            }
            .something {
                margin-top: 50px;
                margin-left: 55px;
                width: 40%;
                display: inline-block;
            }
            .second h2 {
                margin-bottom: 70px;
                margin-top: 100px;
            }
            .second img {
                margin-top: 70px;
                width: 40%;
                height: 20%;
                height: 300px;
                margin-left: 70px;
                display: inline-block;
            }
            .back {
                padding-left: 500px;
            }
        }